
div#agegate-outer {
  background-color: #fff;
  display: none;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  /*
	//All elements are invalid by default
	//Try adding a class to the element after it is checked once,
	//then combining that class with this selector
	//to only outline after validation
	[type=number],
	[type=text],
	select {
		&:invalid {
			border: 1px solid red;
		}
	}
	*/
}

div#agegate-outer div.agegate-container {
  max-width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 0 1em 0 1em;
  /* margin-top: 4em; */
}

div#agegate-outer div.agegate-container::after {
  clear: both;
  content: "";
  display: table;
}

div#agegate-outer div.agegate-inner {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

div#agegate-outer div.agegate-inner:last-child {
  margin-right: 0;
}

div#agegate-outer div#agegate-errors {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

div#agegate-outer div#agegate-errors:last-child {
  margin-right: 0;
}

div#agegate-outer div.fieldwrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}

div#agegate-outer div.fieldwrapper:last-child {
  margin-right: 0;
}

div#agegate-outer div.fieldwrapper.omega {
  margin-right: 0;
}

div#agegate-outer div.fieldwrapper input {
  text-align: center;
}

div#agegate-outer div.submitwrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
}

div#agegate-outer div.submitwrapper:last-child {
  margin-right: 0;
  margin-bottom: 0.6em;
}

div#agegate-outer div.rememberwrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
}

div#agegate-outer div.rememberwrapper:last-child {
  margin-right: 0;
}

div#agegate-outer div.selectwrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
}

div#agegate-outer div.selectwrapper:last-child {
  margin-right: 0;
}

div#agegate-outer div.selectwrapper select {
  width: 100%;
}

div#agegate-outer div.legal_footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  margin-top: 2em;
}

div#agegate-outer div.legal_footer:last-child {
  margin-right: 0;
}

@media screen and (min-width: 600px) {
  div#agegate-outer div.agegate-inner {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    margin-right: 0;
  }
  div#agegate-outer div.agegate-inner:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 900px) {
  div#agegate-outer div.agegate-inner {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    /* margin-left: 25.58941%; */
    margin-right: 0;
  }
  div#agegate-outer div.agegate-inner:last-child {
    margin-right: 40%;
  }
}

div#body-inner {
  margin-left: auto;
  margin-right: auto;
}

div#body-inner::after {
  clear: both;
  content: "";
  display: table;
}

div.legalfooter {
  padding-top: 20px;
}

div.legalfooter p {
  font-size: 10px;
}
